@charset "UTF-8";

/* 
Cores
Roxo: #48038C
Azul escuro: #2A08A6
Azul claro: #0540F2

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

/* Colocando efeito blur no background  */

#blur {
    position: relative;
    background: url(../imagens/tech.jpg);
    overflow: hidden;
}

/* Pseudo-elemento ::before em #blur: Este pseudo-elemento cobre toda a área do elemento #blur, aplica a imagem de fundo e o efeito de desfoque. */

#blur::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagens/tech.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: 0;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff13;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.437);
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;

    z-index: 1; /*Colocanddo o conteúdo do Login na frente*/

}

section#login > div#imagem {
    display: block;
    background: #48038C url(../imagens/tech.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;  
    color: white;
}

div#formulario > p {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: white;
}

form > div.campo {
    background-color: rgb(40, 40, 167);
    border: 2px solid rgb(40, 40, 167);
    color: white;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px ;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color:  white;
    font-size: 2em;
    width: 38px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(181, 181, 228);
    font-size: 1em;
    width: calc(100% - 43px) ;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;

    transform: translateY(-14px);
}

div.campo > input:focus-within {
    background-color: aliceblue;
    border: none; 
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;

    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid midnightblue;

    text-decoration: none;
    color: midnightblue;
}

form > a.botao:hover {
    background-color: midnightblue;
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}

